* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bg-color {
	color: #fff;
	background-color: #000;
	padding: 10px;
	border-radius: 5px;
}

.btn {
	width: 100px;
	background-color: transparent;
	border: 1px solid grey;
	padding: 5px 0;
	border-radius: 5px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
